<li id="{{ id }}" class="comment">
    Posted {{ time }}<br />
    <p id="commentText"><strong><span class="commentCreator"></span></strong>{{ text }}</p>
    {{#if owner}}
      <p class="commentSettings">
        <a href="#edit" id="editComment" data-id="{{ id }}">edit</a> 
        <a href="#cancel" id="cancelCommentEdit" style="display: none" data-id="{{ id }}">cancel</a> 
        <button id="saveComment" data-id="{{ id }}">Save</button>
        <a href="#delete" id="deleteComment" data-id="{{ id }}">delete</a>
      </p>
    {{/if}}
</li>