<li id="{{ id }}" class="shot">
    <a href="/#{{ projectId }}/{{ id }}" class="shotlink" id="{{ projectId }}/{{ id }}">Posted at {{ time }}</a>
    <a href="http://twitter.com/{{ author }}" target="_blank">{{ author }}</a>
    <p>{{ text }}</p>
    <img src="{{ image }}">
</li>