<li id="{{ id }}" class="shot">
  <a href="/#{{ projectId }}/{{ id }}" class="shotlink" id="{{ projectId }}/{{ id }}">Posted {{ time }} by {{ user }}</a><br />
  <img src="{{ image }}" class="shot">
  <p>{{ text }}</p>
  <p><a href="#" id="deleteShot" data-id="{{ id }}">delete</a></p>
  <ul id="{{ id }}" class="comments">
  </ul>
</li>