<li id="{{ id }}" class="shot">
    <a href="/#{{ project }}/{{ id }}" class="shotlink" id="{{ project }}/{{ id }}">Shot {{ id }}</a>
    <a href="http://twitter.com/{{ author }}" target="_blank">{{ author }}</a>
    <p>{{ text }}</p>
    <img src="{{ image }}">
</li>