    <label><h3>What are you working on?</h3></label>
    <input id="image" type="url" class="input" size="58" placeholder="Enter a URL to an image"><br />
    <textarea id="text" type="text" maxlength="80" class="input" placeholder="Enter any additional info" autofocus /><br />
    <button id="createShot">save</button>
    <ul class="shotList">
        {{#each this}}
            <li id="{{ id }}" class="shot">
                <a href="/#{{ projectId }}/{{ id }}" class="shotlink" id="{{ projectId }}/{{ id }}">Shot {{ time }}</a>
                <a href="http://twitter.com/{{ author }}" target="_blank">{{ author }}</a>
                <p>{{ text }}</p>
                <img src="{{ image }}">
            </li>
        {{/each}}
    </ul>