    <label><h3>What are you working on?</h3></label>
    <input id="image" type="url" class="input" size="58" placeholder="Enter a URL to an image"><br />
    <textarea id="text" type="text" maxlength="80" class="input" placeholder="Enter any additional info" autofocus /><br />
    <button id="createShot">save</button>
    <ul class="shotList">
        {{#each this}}
            <li id="{{ id }}" class="shot">
                <a href="/#{{ projectId }}/{{ id }}" class="shotlink" id="{{ projectId }}/{{ id }}">Posted {{ time }} by {{ user }}</a><br />
                <img src="{{ image }}">
                <p>{{ text }}</p>
                <p><a href="#" id="deleteShot" data-id="{{ id }}">delete</a></p>
            </li>
        {{/each}}
    </ul>