<li id="{{ id }}" class="shot">
  {{#if id }}
    <a href="/#{{ project }}/{{ id }}" class="shotlink" id="{{ project }}/{{ id }}">Shot {{ id }}
    </a>
  {{else}}
    New Shot
    </a>
  {{/if}}
    <a href="http://twitter.com/{{ author }}" target="_blank">{{ author }}</a>
    <p>{{ text }}</p>
    <img src="{{ image }}">
</li>