<h1>{{ id }}</h1>
{{#if owner}}
  <p class="projectSettings">
    <a href="#edit" id="editProject" data-id="{{ id }}">edit</a> 
    <a href="#cancel" id="cancelProjectEdit" style="display: none" data-id="{{ id }}">cancel</a> 
    <button id="saveProject" data-id="{{ id }}">Save</button> 
    <a href="#delete" id="deleteProject" data-id="{{ id }}">delete</a>
  </p>
{{/if}}
<div class="shots">
</div>
